<!DOCTYPE html PUBLIC
 "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link rel='stylesheet' href='$SkinDirUrl/layout.css' type='text/css' />
	<link rel='stylesheet' href='$SkinDirUrl/color-$SkinColor.css' type='text/css' />
	<script type="text/javascript" src="$SkinDirUrl/javascript/jquery.js"></script>
	<script type="text/javascript" src="$SkinDirUrl/javascript/blix.js"></script>

<!--HTMLHeader-->
</head>
<body>

<div id="container">
	<div id="header">
		<!--PageHeaderFmt-->
		<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader-->
		<!--/PageHeaderFmt-->
	</div>

	<div id="navigation">
		<!--PageSearchFmt-->
		<form action='$ScriptUrl' method="get">
			<fieldset>
				<input class="hidden" type='hidden' name='n' value='{$FullName}' />
				<input class="hidden" type='hidden' name='action' value='$[search]' />
				<input id="searchfield" type='text' name='q' value='' />
				<input id="searchbutton" type='submit' name="searchbutton" value='$[Go!]' />
			</fieldset>
		</form>
		<!--/PageSearchFmt-->
		<!--PageTabsFmt-->
		<div class="navlinks">
			<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav-->
		</div>
		<!--/PageTabsFmt-->
		<div class="pageactions">
			<!--PageActionFmt-->
			<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
			<!--/PageActionFmt-->
		</div>
	</div>

	<div id="content-wrapper">
		<div id="content-container">
			<div id="content">
				<!--PageTitleGroupFmt-->
				<a href='{$ScriptUrl}/{$Group}' class="pagegroup">{$Group}</a>
				<!--/PageTitleGroupFmt-->
				<!--PageTitleFmt-->
				<h1><a href='{$PageUrl}'>{$Titlespaced}</a></h1>
				<!--/PageTitleFmt-->

				<!--PageText-->
			</div>
		</div>
	</div>

	<div id="subcontent">
		<div id='subcontent_bg'><!-- --></div>
		<!--PageRightFmt-->
		<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
		<!--/PageRightFmt-->
	</div>

	<div id="footer" class="clearfix">
		<!--PageFooterFmt-->
		<!--wiki:{$Group}.SiteFooter {$SiteGroup}.SiteFooter-->
		<!--/PageFooterFmt-->
	</div>

</div>

<div id="credits">
	<div class="alignleft">
	</div>
	<div class="alignright">
		<p><a href="http://www.kingcosmonaut.de/blix/">Blix</a> $[theme adapted by] <a href="http://solidgone.org/Skins/">David Gilbert</a>, $[powered by] <!--function:dg_PoweredBy--></p>
	</div>
</div>
<!--HTMLFooter-->
</body>
</html>
